{% extends 'bakery/base.html' %}
{% block title %}Производители{% endblock %}
{% block content %}
{% url 'manufacturer_create' as manufacturer_create_url %}
{% include 'bakery/includes/page_header.html' with title='Производители' create_url=manufacturer_create_url create_label='Добавить производителя' %}
<div class="grid">
{% for m in manufacturers %}
  <article class="card">
    {% include 'bakery/includes/entity_image.html' with image=m.logo alt_text=m.name placeholder='bakery/img/placeholder-manufacturer.svg' fallback_alt='Производитель' %}
    <h3>{{ m.name }}</h3>
    <p>{{ m.address }}</p>
    <a class="btn" href="{% url 'manufacturer_detail' m.pk %}">Подробнее</a>
  </article>
{% endfor %}
</div>
{% endblock %}

